.annual-plan {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	font-family: 'Red Hat Display', sans-serif;
	background-color: hsl(225, 100%, 98%);
	padding: 5px;
	border-radius: 10px;
}
.annual-plan img {
	margin-right: 20px;
}
.price {
	display: flex;
	flex-direction: column;
	margin-right: 45px;
	font-weight: 700;
}
.change {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.attribution {
	font-size: 10px;
	text-align: center;
	margin-top: 30px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
